gpytranslate
aiohttp[speedups]
akinator.py
async_cleverbot
async_cse
asyncdagpi
asyncpg
better_profanity
bs4
discord.py[speed]>=2.7.1
dpytest
gTTS
humanize @ git+https://github.com/jmoiron/humanize.git
jishaku @ git+https://github.com/Gorialis/jishaku.git
lxml
Mako
numpy
Pillow
playsound3
Pygments
pyparsing
python_dotenv
rich
tabulate
uwuify
wikipedia
yt-dlp
youtube_search_python