aiogoogletrans
aiohttp[speedups]
akinator.py
async_cleverbot
async_cse
asyncdagpi
asyncpg
better_profanity
bs4
discord.py[speed]>=2.3.0
dpytest
gTTS
humanize @ git+https://github.com/jmoiron/humanize.git
jishaku @ git+https://github.com/Gorialis/jishaku.git
lxml
Mako
numpy
Pillow
playsound
Pygments
pyparsing
python_dotenv
rich
tabulate
uwuify
wikipedia
youtube_dl
youtube_search_python